<h1>Schedules#new</h1>

<div class="schedule">
  <%= form_for @schedule, url: schedules_path do |f| %>
  <%= select("schedule", "boat_id", boatsMethod)%>
  <%= select("schedule", "job_id", jobsMethod)%>
  <%= f.submit %>
  <% end %>
</div>
