<h1>Schedules#new</h1>

<!-- This page was the original create schedules page, but we combined this form with schedules index -->

<%= form_for @schedule, url: schedules_path do |f| %>
<%= select("schedule", "boat_id", boatsMethod)%>
<%= select("schedule", "job_id", jobsMethod)%>
<%= f.submit "Submit", data: { disable_with:"Submitting..." } %>
<% end %>

