<h1>Schedules#new</h1>
<p>Find me in app/views/schedules/new.html.erb</p>

<%= form_for @schedule, url: schedules_path do |f| %>
<%= select("schedule", "boat_id", boatsMethod)%>
<%= select("schedule", "job_id", jobsMethod)%>
<%= f.submit "Submit", data: { disable_with:"Submitting..." } %>
<% end %>
