
<div class="home">
  <h1>About our Company</h1>
  <p>
    Our mission is to create a connection between seafarers and employers.
    We saw that the traditional methods of employment were time consuming and sought
    to cut out the middle man. World Wide Shippings creates instant jobs with available employees around the country.
    Our next mission is to branch out globally, please enjoy our site.    
  </p>
</div>
