/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.ship{
  height: 58px;
  width: 55px;
}

html{
  background-color: lightgrey;
  opacity:
}
 /* Add a background color to the top navigation */
 .topnav {
     background-color: #7bc2e0;
     overflow: hidden;
     opacity: 0.8;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
     background-color: #00b359;
     color: black;
 }

 /* Add a color to the active/current link */
 .topnav a.active {
     background-color: #cc9900;
     color: white;
 }

strong#logo{
 text-decoration: underline;
 padding-bottom: 10px;
}
 .logo{
   font-weight:bolder;
   font-size: 20px;
   text-align: center;
   margin-top: 45px;
   border-style: outset;
   margin-right: 100px;
   margin-left: 100px;
   border-radius: 30px;
   box-shadow: 10px 10px 5px red;
   padding: 15px;
   background-color: #f2d9d9;
   opacity: 0.6;

 }
