// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule{
  background-color: #f5deb3d9;
  opacity: 0.8;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

b{
  text-decoration: underline;
}
