<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>

<div class="field"> 
    <%= f.label :avatar %><br /> 
    <%= f.file_field :avatar %> 
  </div> 
